@charset "utf-8";
/* CSS Document */

.l-messageBlock{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0 0 460px;
	background: #e6f5fb url(../../images/message/bg_message_pc.png) center bottom no-repeat;
	background-size:100% auto;
}
.l-messageBlock .p-title{
	padding-top:120px;
}
.l-messageBlock .p-title img{
	max-width:166px;
	width:100%;
}
.l-messageBlock .p-title2{
	padding-top:90px;
	padding-bottom:45px;
}
.l-messageBlock .p-title2 img{
	max-width:699px;
	width:100%;
}
.l-messageBlock .p-message{
	padding-top:50px;
	line-height:2;
	color:#221815;
	font-size:112.5%;
}


/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1600px){
	
	
	
	
}
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	
	
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	.l-messageBlock{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0 0 190px;
		background: #e6f5fb url(../../images/message/bg_message_sp.png) center bottom no-repeat;
		background-size:100% auto;
	}
	.l-messageBlock .p-title{
		padding-top:50px;
	}
	.l-messageBlock .p-title img{
		max-width:161px;
		width:100%;
	}
	.l-messageBlock .p-title2{
		padding-top:70px;
		padding-bottom:0px;
	}
	.l-messageBlock .p-title2 img{
		max-width:415px;
		width:100%;
	}
	.l-messageBlock .p-message{
		padding-top:40px;
		line-height:2;
		color:#221815;
		font-size:150%;
		text-align:left;
	}
	.l-messageBlock .p-message br{
		display:none;
	}
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	.l-messageBlock{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0 0 135px;
		background: #e6f5fb url(../../images/message/bg_message_sp.png) center bottom no-repeat;
		background-size:100% auto;
	}
	.l-messageBlock .p-title{
		padding-top:50px;
	}
	.l-messageBlock .p-title img{
		max-width:115px;
		width:100%;
	}
	.l-messageBlock .p-title2{
		padding-top:40px;
		padding-bottom:0px;
	}
	.l-messageBlock .p-title2 img{
		max-width:296px;
		width:100%;
	}
	.l-messageBlock .p-message{
		padding-top:30px;
		line-height:2;
		color:#221815;
		font-size:14px;
		text-align:left;
	}
	.l-messageBlock .p-message br{
		display:none;
	}
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/