@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
/* CSS Document */

/*
カラーコード

オレンジ：#e39b33
グレーライン：#dcdcdc
シャドウ：rgba(58,58,58,.4)
ボタンカラー：#de7928


*/
/*-------------------- ▼共通CSS▼ ------------------------*/
html{
	
}
body{	
	color:#2f2725;
	font-family:'Noto Sans JP', "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	/*font-family:"游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;*/
	/*font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", "serif";*/
	font-size:16px;
	line-height:1.5;
	font-weight:normal;
	letter-spacing:0.05em;
}

.Mincho{
	font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", "serif";
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}
a{
	color:#000000;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	transition:.3s;
	text-decoration:none;
}
a:hover{
	-webkit-transition:.3s;
	-moz-transition:.3s;
	transition:.3s;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity:.7;
}

.border{
	border:1px solid #000000;	
}

header{
	width:100%;
	margin:0 auto;	
	padding:0;
	/*position:fixed;
	top:0;
	z-index:15000;*/
	position:fixed;
	top:0;
	z-index:10000;
	background-color:rgba(255,255,255,0.95);
}

.l-header{
	width: 100%;
	padding:13px 0;
	height:80px;
}
.l-header-table{
	max-width: 1040px;
	width:100%;
	margin: 0 auto 0;
	display:table;
	padding:0 10px;
}
.l-header-left{
	display:table-cell;		
	width:225px;
	vertical-align:middle;
}
.l-header-left h1{
	margin:0 !important;
	font-weight:normal;
	display:inline;
}
.l-header-left h1 a{
	display:inline-block;
	padding:0px;
	line-height:0;
}
.l-header-left img{
	max-width:225px;
	width:100%;
}
/*.l-header-left img{
	max-width:206px;
	width:100%;
}*/
.l-header-right{
	display:table-cell;
	width:auto;
	text-align:right;
	vertical-align:middle;
	position:relative;
}
.l-header-right div{
	display:inline-block;
	font-weight:bold;
	font-size:14px;
	vertical-align:middle;
}
.l-header-right div a{
	padding:0 12px 5px;
	color:#2f2725;
}

.l-header-right div a.p-current{
	color:#f18400;
	border-bottom:2px solid #f18400;
	padding-bottom:3px;
}
.l-header-right div a.p-entry{
	padding:0 0 0 15px;
}
.l-header-right div a.p-entry:hover{
	cursor:pointer;
}
.l-header-right > div > div.p-info{
	position:relative;
}
.l-header-right .p-info p:hover{
	cursor:pointer;		
}	
.l-header-right a,
.l-header-right .p-info p{
	font-size:14px;
	padding:15px 15px 20px;
	font-weight:normal;
	position:relative;
	display:block;
}
.l-header-right a:after,
.l-header-right .p-info > p:after{
	content:"";
	display:block;
	-moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
	position:absolute;
	bottom:-2px;
	left:0;
	right:0;
	text-align:center;
	font-size:10px;
}
.l-header-right a.p-arrow:after,
.l-header-right .p-info > p:after{
	/*content:"▲";*/
	/*color:#003b73;*/
	display:block;
	-moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
	position:absolute;
	bottom:-2px;
	left:0;
	right:0;
	text-align:center;
	font-size:10px;
}
.header_courses_menu{
	/*border:1px solid #dddddd;*/
}
.l-header-right .header_courses_menu table{
	width:100%;
}
.l-header-right .header_courses_menu table tr td{
	height:30px;
}
.l-header-right .header_courses_menu table tr td a{
	color: #FFFFFF;
    width: 100%;
    text-align: left;
    padding: 15px 15px 15px;
    border-bottom: 1px dotted #FFFFFF;
	font-size:106.6%;
}
.l-header-right .header_courses_menu table tr:last-child td a {
    border-bottom: none;
}
.header_courses_menu{
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
	/*width:100%;*/
	height:auto;
	/*background-color:#cccecf;*/
	position:absolute;
	left:0;
	/*top:65px;*/
	z-index:9998;
	margin-top:6px;
}

.courses_menu.current .header_courses_menu{
	/*margin-top:-4px;*/
}

.header_courses_menu.on_hover{
	visibility: visible;
	opacity: 1;
	transition: 0.2s;
}
.header_courses_list{
	max-width:1080px;
	width:100%;
	padding:0px 0 0px 0;
	margin:0 auto;
	display:table;
	table-layout:fixed;
	font-weight:normal;
}
.courses_menu.current .header_courses_list{
	max-width:1080px;
	width:100%;
	padding:1px 0 11px 0;
	margin:0 auto;
	display:table;
	table-layout:fixed;
	font-weight:normal;
}
.header_courses_list01 {
	display:block;
	width:260px;
	/*padding:0px 15px 10px;*/	
	
	background-color: #FFFFFF;
	opacity:0.95;
	position: relative;
	/*border: 1px solid #dddddd;*/
	z-index:9999;
}
.header_courses_list01.p-long {
	width:320px;
}

.l-footer01{
	margin:0 auto;
	text-align:center;
	padding:50px 0 40px;
	display:table;
	width:100%;
}
.l-footer01 > div{
	display:table-cell;
	vertical-align:top;
	text-align:left;
	padding-left:20px;
	padding-right:20px;
}
.l-footer01 > div a{
	display:block;
}
.l-footer01 > div a.p-page{
	padding-bottom:7px;
}
.l-footer01 > div a.p-page00 img{
	max-width:27px;
	width:100%;
}
.l-footer01 > div a.p-page01 img{
	max-width:85px;
	width:100%;
}
.l-footer01 > div a.p-page02 img{
	max-width:75px;
	width:100%;
}
.l-footer01 > div a.p-page03 img{
	/*max-width:48px;*/
	max-width:104px;
	width:100%;
}
.l-footer01 > div a.p-page03_1 img{
	max-width:83px;
	width:100%;
}
.l-footer01 > div a.p-page03_2 img{
	max-width:94px;
	width:100%;
}
.l-footer01 > div a.p-page03_3 img{
	max-width:95px;
	width:100%;
}
.l-footer01 > div a.p-page03_4 img{
	max-width:95px;
	width:100%;
}
.l-footer01 > div a.p-page04 img{
	/*max-width:90px;*/
	max-width:104px;
	width:100%;
}
.l-footer01 > div a.p-page04_1 img{
	max-width:99px;
	width:100%;
}
.l-footer01 > div a.p-page04_2 img{
	max-width:87px;
	width:100%;
}
.l-footer01 > div a.p-page04_3 img{
	max-width:87px;
	width:100%;
}
.l-footer01 > div a.p-page04_4 img{
	max-width:63px;
	width:100%;
}
.l-footer01 > div a.p-page05 img{
	/*max-width:71px;*/
	max-width:104px;
	width:100%;
}
.l-footer01 > div a.p-page06 img{
	max-width:108px;
	width:100%;
}

.l-footer02{
	margin:0 auto;
	text-align:center;
	padding:30px 0 0px;
}
.l-footer02 p img{
	max-width:315px;
	width:100%;
}

.l-footer03{
	margin:0 auto;
	text-align:center;
	padding:20px 0 40px;
	font-size:12px;
}

#wrapper{
	width:100%;
	margin:0 auto;
	padding:0;
	letter-spacing:0.1em;
}

#toggle {
	/*float: right;*/
	display: block;
	position: relative;
	padding: 15px 10px 15px;
	font-weight: 700;
	/*font-size: 0.6rem;*/
	vertical-align: center;
	cursor:pointer;
	height: 90px;
	width: 90px;
	float: right;
	background-color:#7e7e7e;
}
/*#toggle-menu {
	position: absolute;
	margin: auto;
	width: 30px;
	top: 25px;
	right: 0;
	left: 0;
	color: #2d99b5;
}*/
#toggle-btn {
	/*float: right;*/
	height: 90px;
	/*width: 90px;*/
	display: block;
	position: relative;
	/*top:-10px;
	right:0;*/
}
#toggle-btn-icon {
	display: block;
	position: absolute;
	top: 30%;
	left: 0;
	right: 0px;
	width: 43px;
	height: 2px;
	margin: auto;
	background: #FFFFFF;
	transition: .2s;
}
#toggle-btn-icon:before, #toggle-btn-icon:after {
	display: block;
	content: "";
	position: absolute;
	top: 20%;
	left: 0;
	width: 43px;
	height: 2px;
	background: #FFFFFF;
	transition: .3s;
}
#toggle-btn-icon:before {
	margin-top: -10px;
}
#toggle-btn-icon:after {
	margin-top: 10px;
}
#toggle-btn .close {
	background: transparent !important;
	/*top: 7px;*/
}
#toggle-btn .close:before, #toggle-btn .close:after {
	margin-top: 0;
}
#toggle-btn .close:before {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
#toggle-btn .close:after {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.p-toggle_menu{
	color:#000000;
	position:absolute;
	right:3.5%;	
	width:100px;
}
.p-toggle_menu span{
	position:relative;
	right:-17px;
	top:40px;
	font-size:16px !important;
}

/* --- nav ---*/
#global-nav-area {
	display:none;
	max-width: 1020px;
    width: 100%;
	margin:0 auto;
	position: absolute;
	z-index:10000;
	/*top: 76px;*/
	right:0;
	/*background-color:#000000;*/
	/*background-color:#e4e4e4;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	text-align:left;
	height:auto;
	/*box-shadow:0px 5px 6px -2px #919191;
	-moz-box-shadow:0px 5px 6px -2px #919191;
	-webkit-box-shadow:0px 5px 6px -2px #919191;*/
	/*border-top:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;*/
	overflow:auto !important;
	-webkit-overflow-scrolling: touch;
}
#global-nav {
	padding:0 0;
}

#global-nav > li {
	text-align:left;
	
	/*opacity:0.95;*/
	/*font-size:133%;*/
}
#global-nav > li.title {
	border-top:2px solid #009944;
	display:table;
	width:100%;
	background-color: #FFFFFF;
	/*cursor:pointer;*/
}
#global-nav > li.p-close p {
	text-align:right;
	cursor:pointer;
}
#global-nav > li.p-close p img {
	max-width:90px;
	width:100%;
}
#global-nav > li.titleLink {
	padding:22px 0px;
}
#global-nav > li > p {
	width:100%;
	text-align:left;
	display:block;
	color:#FFFFFF;
}
#global-nav > li.js-underlayer > p {
	padding:15px 3%;
	font-size:125%;
}
/*#global-nav > li > p a:after {
	content: ' ';
	background:url(../../images/common/ico_munu_arrow.svg) no-repeat;
	position: absolute;
	top: 20px;
	right: 3%;
	background-size: 20px 20px;
	width:25px;
	height:25px;
}*/
#global-nav > li > p a {
	color:#222222;
	text-align:left;
	display:block;
	padding:26px 3% 26px 7.5%;
	/*border-bottom:1px solid #797979;*/
	/*border-bottom: 1px solid #FFFFFF;*/
	/*box-shadow: 0 1px 0 rgba(255,255,255,1);*/
	background-color: #FFFFFF;
	position:relative;
}
#global-nav > li > p a.p-entry {
	color:#FFFFFF;
	text-align:left;
	display:block;
	padding:26px 3% 26px 7.5%;
	/*border-bottom:1px solid #797979;*/
	/*border-bottom: 1px solid #FFFFFF;*/
	/*box-shadow: 0 1px 0 rgba(255,255,255,1);*/
	background-color: #1f4069;
	position:relative;
}
#global-nav > li:last-of-type > p a {
	border-bottom: none;
}
#global-nav > li.title > p + p {
	display:table-cell;
	width:30px;
	/*font-size:150%;*/		
	font-size: 183%;
	/* padding-top: 4px; */
	position: relative;
	top: 5px;
	padding: 0 10px;
}
#global-nav > li.js-underlayer > p.p-stair {
	padding:0px;
	/*font-size:87.5%;*/
}
#global-nav > li.title > p {	
	text-align:center;
}
#global-nav > li.title > p img {
	max-width:197px;
	width:100%;
}
#global-nav > li.title > p > img {
	display:inline-block;
	margin:25px 3% 22px;
}
#global-nav > li.title > p a {
	display:block;
	width:100%;
	padding:25px 3% 22px;
	font-size:125%;
	font-weight:bold;
	background:url(../../images/common/ico_menu_sp.png) right 3% center no-repeat transparent;
	background-size: 14px auto;
	text-align:center;
}
#global-nav > li.title > p a:after {
	content:"";
	background:url(../../images/common/img_arrow01_sp.png) right 3% center no-repeat transparent;	
	position: absolute;
	top: 20px;
	right: 3%;
	width:8px;
	height:12px;
	background-size: 8px 12px;
}
#global-nav > li.title > p a.p-entry:after {
	content:"";
	background:url(../../images/common/img_arrow02_sp.png) right 3% center no-repeat transparent;	
	position: absolute;
	top: 20px;
	right: 3%;
	width:8px;
	height:12px;
	background-size: 8px 12px;
}
#global-nav > li:nth-last-child(2) a {
	border-bottom:none;
}
#global-nav > li.title > p a.global-nav-co {
	color:#a0a0a0;
	
}
#global-nav > li.title > p a.global-nav-co:after{
	content: '';
	background:url(../../images/common/ico_corporate.png) 5px 5px no-repeat transparent;
	position: absolute;
	width:20px;
	height:20px;
	background-size: 13px 14px;
}

#global-nav > li.title > .p-table{
	display:block;
	width:100%;
	padding:0 3%;
}
#global-nav > li.title > .p-table.p-last{
	border-bottom:10px solid #009944;
}
#global-nav > li.title > .p-table > div{
	display:inline-block;
	width:50%;
	border-top:1px solid #009944;
	padding:10px 0;
}
#global-nav > li.title > .p-table > div > p.p-left{
	border-right:1px solid #009944;
}
#global-nav > li.title > .p-table > div > p > a{
	padding:20px 5% 20px 30px;
	display:block;
}
#global-nav > li.title > .p-table > div > p > a > span{
	display:block;
	background:url(../../images/common/ico_menu_sp.png) right center no-repeat transparent;
	background-size: 14px auto;
	line-height:0;
}
#global-nav > li.title > .p-table > div > p > a > span img{
	max-width:197px;
	width:100%;
	line-height:0;
}

#global-nav > li ul {
	display: block;
}
#global-nav ul li {
	border-bottom:1px dotted #dddddd;
	background-color: #FFFFFF;
	opacity:1;
	width:100%;
}
#global-nav ul li a {
	display:block;
	padding:15px 3%;
	color:#FFFFFF;
	background:url(../../images/common/ico_arrow2.png) left 3% center no-repeat transparent;
	text-indent:1em;
	background-size: 6px auto;
	position:relative;
	/*font-size:87.5%;*/
}
#global-nav ul li a:after {
	content:">";
	position:absolute;
	right:10px;
}
#global-nav ul li a:hover{
	/*color:#0048A8;*/
}	
#global-nav-area p.p-image {
	padding:0 3%;
	display:block;
	margin:0 auto;
	text-align:center;
}
#global-nav-area p.p-image img {
	max-width:100px;
	width:100%;
}

#global-nav > p {
	padding:0 0 4%;
}
#global-nav > p:last-child {
	padding:0 0 2%;
}

.l-wrapper{
	width:100%;
	margin:0px auto;
}

.l-container{
	width:100%;
	margin:0px auto;
}

/**ページトップ**/
#page-top{
	/*position: relative;*/
	position: fixed;
	/*top: 1px;*/
	right: 5%;
	bottom: 75px;
	z-index:9000;
	height:50px;
	margin:0 auto;
	text-align:right;
	margin-bottom:10px;
}

#page-top a {
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
	opacity:1;
}
#page-top a:hover{
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
	opacity:.7;
}
#page-top a img {
	opacity:1;
}

.button-link{
	color:#00f;
	text-decoration:underline;
}
 
.button-link:hover{
	cursor:pointer;
	color:#f00;
}

/*------------------
本体
------------------*/
#modal-content {
    background: #FFFFFF;       /* モーダルウィンドウのbackground */
    width: 50%;             /* モーダルウィンドウの幅 */
    z-index: 20000;             /* オーバーレイより高い数値に設定 */
}

/*------------------
背景(オーバーレイ)
------------------*/
#modal-overlay {
    background-color:
        rgba(0, 0, 0, 0.75); /* 背景のbackground */
    top: 0;                  /* 背景の固定位置 */
    left: 0;                 /* 背景の固定位置 */
    height: 120%;            /* 背景の高さ */
    width: 100%;             /* 背景の幅 */
    z-index: 15000;              /* モーダルウィンドウより低い数値に設定 */
}

/*------------------
共通パーツ
------------------*/
#modal-content,
#modal-overlay {
    display: none;   /* 通常時は非表示 */
    position: fixed; /* ウィンドウの固定 */
}

.l-modalBlock{
	width:100%;
	margin:0 auto;
	padding:0;
	text-align:center;
	position:relative;
	padding:90px;
}
.l-modalBlock .p-title{
	padding-bottom:15px;
}
.l-modalBlock .p-title img{
	max-width:329px;
	width:100%;
}
.l-modalBlock .l-modalButtonBlock{
	width:100%;
	margin:0 auto;
	padding:0;
	text-align:center;	
}
.l-modalBlock .l-modalButtonBlock > p{
	display:inline-block;
	width:50%;
	padding-top:25px;
}
.l-modalBlock .l-modalButtonBlock > p a{
	display:inline-block;
}
.l-modalBlock .l-modalButtonBlock > p a img{
	max-width:245px;
	width:100%;
}
.l-modalBlock .l-modalButtonBlock > p.p-left{
	padding-right:20px;
	text-align:right;
}
.l-modalBlock .l-modalButtonBlock > p.p-right{
	padding-left:20px;
	text-align:left;
}
.l-modalBlock .p-close{
	position:absolute;
	top:0;
	right:0;
}

.l-inner{
	max-width:1040px;
	width:100%;
	margin:0px auto;
	padding:0 10px;
}
.l-inner1200{
	max-width:1220px;
	width:100%;
	margin:0px auto;
	padding:0 10px;
}
.l-inner980{
	max-width:1000px;
	width:100%;
	margin:0px auto;
	padding:0 10px;
}
.l-inner900{
	max-width:920px;
	width:100%;
	margin:0px auto;
	padding:0 10px;
}
.l-inner710{
	max-width:730px;
	width:100%;
	margin:0px auto;
	padding:0 10px;
}
.l-inner700{
	max-width:720px;
	width:100%;
	margin:0px auto;
	padding:0 10px;
}

.pconly{
	display:block !important;
}

.sponly0{
	display:none !important;
}

.sponly{
	display:none !important;	
}

.sponly1{
	display:block !important;
}

.sponly1_5{
	display:none !important;
}

.sponly2{
	display:none !important;
}

.pb20{
	padding-bottom:20px;	
}

.w100{
	width:100%;	
}

.disnone{
	display:none !important;
}

.p-link{
	text-decoration:underline;	
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1000px){	
	
	body{	
		font-size:14px;
	}
	
	.l-header {
		width: 100%;
		padding: 0;
		height:90px;
	}
	.l-header-table {
		max-width: 1040px;
		width: 100%;
		margin: 0 auto 0;
		display: table;
		padding: 0 0px 0 10px;
	}
	.l-header-left {
		display: table-cell;
		width: 276px;
		vertical-align: middle;
	}
	.l-header-left img{
		max-width:276px;
		width:100%;
	}
	
	#toggle_block .p-sp_entry{
		width:210px;
	}
	#toggle_block .p-sp_entry a{
		padding:0;
	}
	#toggle_block .p-sp_entry:hover{
		cursor:pointer;
	}
	#toggle_block .p-sp_entry img{
		max-width:210px;
		width:100%;
	}
	
	#modal-content {
		background: #FFFFFF;       /* モーダルウィンドウのbackground */
		width: 80%;             /* モーダルウィンドウの幅 */
		z-index: 20000;             /* オーバーレイより高い数値に設定 */
	}
	
	.pconly{
		display:none !important;
	}
	
	.sponly0{
		display:block !important;
	}
	
	.sponly{
		display:block !important;
	}
	
	.sponly1{
		display:block !important;
	}
	
	.sponly1_5{
		display:none !important;
	}
	
	.sponly2{
		display:none !important;
	}
	
}
@media screen and (min-width:769px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:768px){
	body{	
		font-size:14px;
	}
	
	.l-inner{
		padding:0 3%;
	}
	.l-inner1200{
		padding:0 3%;
	}
	.l-inner980{
		padding:0 3%;
	}
	.l-inner900{
		padding:0 3%;
	}
	.l-inner710{
		padding:0 3%;
	}
	.l-inner700{
		padding:0 3%;
	}
	
	.l-header {
		width: 100%;
		padding: 0;
		height:70px;
	}
	.l-header-table {
		max-width: 1040px;
		width: 100%;
		margin: 0 auto 0;
		display: table;
		padding: 0 0px 0 10px;
	}
	.l-header-left {
		display: table-cell;
		width: 195px;
		vertical-align: middle;
	}
	
	.l-footer01{
		display:none;
	}
	.l-footer02{
		margin:0 auto;
		text-align:center;
		padding:40px 0 0px;
	}
	.l-footer02 p img{
		max-width:220px;
		width:100%;
	}
	.l-footer03{
		margin:0 auto;
		text-align:center;
		padding:25px 0 35px;
	}
	.l-footer03 p{
		
	}
	
	#toggle_block .p-sp_entry{
		width:163px;
	}
	#toggle_block .p-sp_entry:hover{
		cursor:pointer;
	}
	#toggle_block .p-sp_entry img{
		max-width:163px;
		width:100%;
	}	
	#toggle {
		display: block;
		position: relative;
		padding: 13px 0;
		font-weight: 700;
		vertical-align: center;
		cursor: pointer;
		height: 70px;
		width: 70px;
		float: right;
	}
	#toggle-btn {
		height: 70px;
		display: block;
		position: relative;
	}
	#toggle-btn-icon {
		display: block;
		position: absolute;
		top: 30%;
		left: 0;
		right: 0px;
		width: 43px;
		height: 2px;
		margin: auto;
		background: #FFFFFF;
		transition: .2s;
	}
	#toggle-btn-icon:before, #toggle-btn-icon:after {
		display: block;
		content: "";
		position: absolute;
		top: 20%;
		right: 0;
		width: 43px;
		height: 2px;
		background: #FFFFFF;
		transition: .3s;
	}
	#toggle-btn-icon:before {
	}
	#toggle-btn-icon:after {
		margin-top: 10px;
	}
	
	#global-nav > li.title {
		border-top: 2px solid #009944;
		display: table;
		width: 100%;
		background-color: #FFFFFF;
		/* cursor: pointer; */
	}
	#global-nav > li.p-close p {
		text-align:right;
		cursor:pointer;
	}
	#global-nav > li.p-close p img {
		max-width:63px;
		width:100%;
	}
	#global-nav > li.title > p {	
		text-align:center;
	}
	#global-nav > li.title > p img {
		max-width:138px;
		width:100%;
	}
	#global-nav > li.title > p > img {
		display:inline-block;
		margin:18px 3% 15px;
	}
	#global-nav > li.title > p a {
		display:block;
		width:100%;
		padding:18px 3% 15px;
		font-size:125%;
		font-weight:bold;
		background:url(../../images/common/ico_menu_sp.png) right 3% center no-repeat transparent;
		background-size: 10px auto;
		text-align:center;
	}
	#global-nav > li.title > .p-table{
		display:block;
		width:100%;
		padding:0 3%;
	}
	#global-nav > li.title > .p-table.p-last{
		border-bottom:7px solid #009944;
	}
	#global-nav > li.title > .p-table > div{
		display:inline-block;
		width:50%;
		border-top:1px solid #009944;
		padding:10px 0;
	}
	#global-nav > li.title > .p-table > div > p.p-left{
		border-right:1px solid #009944;
	}
	#global-nav > li.title > .p-table > div > p > a{
		padding:15px 3% 15px 20px;
		display:block;
	}
	#global-nav > li.title > .p-table > div > p > a > span{
		display:block;
		background:url(../../images/common/ico_menu_sp.png) right center no-repeat transparent;
		background-size: 10px auto;
		line-height:0;
	}
	#global-nav > li.title > .p-table > div > p > a > span img{
		max-width:138px;
		width:100%;
		line-height:0;
	}
	
	#page-top{
		bottom: 7%;
		height:50px;
	}		
	#page-top img {
		width: 56px;
		height:auto;	
	}
	
	/*------------------
	本体
	------------------*/
	#modal-content {
		background: #FFFFFF;       /* モーダルウィンドウのbackground */
		width: 94%;             /* モーダルウィンドウの幅 */
		z-index: 20000;             /* オーバーレイより高い数値に設定 */
	}
	
	/*------------------
	背景(オーバーレイ)
	------------------*/
	#modal-overlay {
		background-color:
			rgba(0, 0, 0, 0.75); /* 背景のbackground */
		top: 0;                  /* 背景の固定位置 */
		left: 0;                 /* 背景の固定位置 */
		height: 120%;            /* 背景の高さ */
		width: 100%;             /* 背景の幅 */
		z-index: 15000;              /* モーダルウィンドウより低い数値に設定 */
	}
	
	/*------------------
	共通パーツ
	------------------*/
	#modal-content,
	#modal-overlay {
		display: none;   /* 通常時は非表示 */
		position: fixed; /* ウィンドウの固定 */
	}
	
	.l-modalBlock{
		width:94%;
		margin:0 auto;
		padding:0;
		text-align:center;
		position:fixed;
		top:0;
		border-top:10px solid #009944;
		padding:70px 30px;
		background: #FFFFFF;
	}
	.l-modalBlock .p-title{
		padding-bottom:15px;
	}
	.l-modalBlock .p-title img{
		max-width:416px;
		width:100%;
	}
	.l-modalBlock .l-modalButtonBlock{
		width:100%;
		margin:0 auto;
		padding:0;
		text-align:center;	
	}
	.l-modalBlock .l-modalButtonBlock > p{
		display:block;
		width:100%;
		padding-top:25px;
	}
	.l-modalBlock .l-modalButtonBlock > p a{
		display:block;
	}
	.l-modalBlock .l-modalButtonBlock > p a img{
		max-width:530px;
		width:100%;
	}
	.l-modalBlock .l-modalButtonBlock > p.p-left{
		padding-right:0;
		text-align:center;
	}
	.l-modalBlock .l-modalButtonBlock > p.p-right{
		padding-left:0;
		text-align:center;
	}
	.l-modalBlock .p-close{
		position:static;
		top:0;
		right:0;
		padding-top:40px;
	}
	.l-modalBlock .p-close img{
		max-width:158px;
		width:100%;
	}
	
	.pconly{
		display:none !important;
	}
	
	.sponly0{
		display:block !important;
	}
	
	.sponly{
		display:block !important;
	}
	
	.sponly1{
		display:block !important;
	}
	
	.sponly1_5{
		display:block !important;
	}
	
	.sponly2{
		display:none !important;
	}
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
/*---------------- ▼タブレットのみ（1024～641）CSS▼ --------------------*/
@media screen and (max-width:768px) and (min-width:320px) {
	
}
/*---------------- ▲タブレットのみ（1024～641）CSS▲ --------------------*/
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
	
	body{	
		font-size:12px;
	}
	
	.l-header{
		width: 100%;
		padding:0;
		height:45px;
	}
	.l-header-table {
		max-width: 1040px;
		width: 100%;
		margin: 0 auto 0;
		display: table;
		padding: 0 0px 0 10px;
	}
	
	.l-header-left img {
		max-width: 161px;
		width: 100%;
	}
	
	.l-header-left {
		display: table-cell;
		width: 138px;
		vertical-align: middle;
	}
	
	.l-footer02{
		margin:0 auto;
		text-align:center;
		padding:30px 0 0px;
	}
	.l-footer02 p img{
		max-width:157px;
		width:100%;
	}
	.l-footer03{
		margin:0 auto;
		text-align:center;
		padding:15px 0 25px;
	}
	.l-footer03 p{
		
	}
	
	#toggle_block .p-sp_entry{
		width:105px;
	}
	#toggle_block .p-sp_entry:hover{
		cursor:pointer;
	}
	#toggle_block .p-sp_entry img{
		max-width:105px;
		width:100%;
	}
	#toggle {
		display: block;
		position: relative;
		padding: 7px 0;
		font-weight: 700;
		vertical-align: center;
		cursor: pointer;
		height: 45px;
		width: 45px;
		float: right;
	}
	#toggle-btn {
		height: 45px;
		display: block;
		position: relative;
	}
	#toggle-btn-icon {
		display: block;
		position: absolute;
		top: 30%;
		left: 0;
		right: 0px;
		width: 30px;
		height: 2px;
		margin: auto;
		background: #FFFFFF;
		transition: .2s;
	}
	#toggle-btn-icon:before, #toggle-btn-icon:after {
		display: block;
		content: "";
		position: absolute;
		top: 20%;
		right: 0;
		width: 30px;
		height: 2px;
		background: #FFFFFF;
		transition: .3s;
	}
	#toggle-btn-icon:before {
		margin-top: -8px;
	}
	#toggle-btn-icon:after {
		margin-top: 8px;
	}
	
	#global-nav > li.title {
		border-top: 2px solid #009944;
		display: table;
		width: 100%;
		background-color: #FFFFFF;
		/* cursor: pointer; */
	}
	#global-nav > li.p-close p {
		text-align:right;
		cursor:pointer;
	}
	#global-nav > li.p-close p img {
		max-width:45px;
		width:100%;
	}
	#global-nav > li.title > p {	
		text-align:center;
	}
	#global-nav > li.title > p img {
		max-width:98px;
		width:100%;
	}
	#global-nav > li.title > p > img {
		display:inline-block;
		margin:12px 3% 11px;
	}
	#global-nav > li.title > p a {
		display:block;
		width:100%;
		padding:12px 3% 11px;
		font-size:125%;
		font-weight:bold;
		background:url(../../images/common/ico_menu_sp.png) right 3% center no-repeat transparent;
		background-size: 7px auto;
		text-align:center;
	}
	#global-nav > li.title > .p-table{
		display:block;
		width:100%;
		padding:0 3%;
	}
	#global-nav > li.title > .p-table.p-last{
		border-bottom:7px solid #009944;
	}
	#global-nav > li.title > .p-table > div{
		display:inline-block;
		width:50%;
		border-top:1px solid #009944;
		padding:10px 0;
	}
	#global-nav > li.title > .p-table > div > p.p-left{
		border-right:1px solid #009944;
	}
	#global-nav > li.title > .p-table > div > p > a{
		padding:10px 3% 10px 3%px;
		display:block;
	}
	#global-nav > li.title > .p-table > div > p > a > span{
		display:block;
		background:url(../../images/common/ico_menu_sp.png) right center no-repeat transparent;
		background-size: 7px auto;
		line-height:0;
	}
	#global-nav > li.title > .p-table > div > p > a > span img{
		max-width:98px;
		width:100%;
		line-height:0;
	}
	
	#wrapper{
		width:100%;
		margin:0 auto;
		padding:0;
		letter-spacing:0.7px;
	}
	
	#page-top{
		bottom: 10%;
		height:25px;
	}	
	#page-top a:hover{
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-o-transition: 0.5s;
		-ms-transition: 0.5s;
		transition: 0.5s;
		opacity:1;
	}	
	#page-top img {
		width: 40px;
		height:auto;	
	}
	#page-top a img {
		opacity:0.8;
	}
	
	.l-modalBlock{
		width:94%;
		margin:0 auto;
		padding:0;
		text-align:center;
		position:fixed;
		top:0;
		border-top:10px solid #009944;
		padding:30px 20px 20px;
		background: #FFFFFF;
	}
	.l-modalBlock .p-title{
		padding-bottom:0;
	}
	.l-modalBlock .p-title img{
		max-width:208px;
		width:100%;
	}
	.l-modalBlock .l-modalButtonBlock{
		width:100%;
		margin:0 auto;
		padding:0;
		text-align:center;	
	}
	.l-modalBlock .l-modalButtonBlock > p{
		display:block;
		width:100%;
		padding-top:15px;
	}
	.l-modalBlock .l-modalButtonBlock > p a{
		display:block;
	}
	.l-modalBlock .l-modalButtonBlock > p a img{
		max-width:530px;
		width:100%;
	}
	.l-modalBlock .l-modalButtonBlock > p.p-left{
		padding-right:0;
		text-align:center;
	}
	.l-modalBlock .l-modalButtonBlock > p.p-right{
		padding-left:0;
		text-align:center;
	}
	.l-modalBlock .p-close{
		position:static;
		top:0;
		right:0;
		padding-top:20px;
	}
	.l-modalBlock .p-close img{
		max-width:79px;
		width:100%;
	}
	
	.pconly{
		display:none !important;
	}
	
	.sponly0{
		display:block !important;
	}
	
	.sponly{
		display:none !important;
	}
	
	.sponly1{
		display:none !important;
	}
	
	.sponly1_5{
		display:block !important;
	}
	
	.sponly2{
		display:block !important;
	}
	
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/
