@charset "utf-8";
/* CSS Document */

.l-workBlock{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0 0 0px;
	background: url(../../images/work/bg_work02_pc.png) center bottom repeat;	
}

.l-workBlock0{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0px 0;
	background-color:#FFFFFF;
}
.l-workBlock0 .l-workBlock0-table{
	/*width: 100%;*/
	margin:0 auto;
	text-align:center;
	display:table;	
}
.l-workBlock0 .l-workBlock0-table > p{
	display:table-cell;
	text-align:center;
	vertical-align:top;
}
.l-workBlock0 .l-workBlock0-table > p a{
	display:block;
	padding:25px 25px;
}
.l-workBlock0 .l-workBlock0-table > p a img{
	max-width:95px;
	width:100%;
}

.l-workBlock1 .p-title{
	padding-top:120px;
}
.l-workBlock1 .p-title img{
	max-width:162px;
	width:100%;
}
.l-workBlock1 .p-title2{
	padding-top:60px;
	padding-bottom:0;
}
.l-workBlock1 .p-title2 img{
	max-width:473px;
	width:100%;
}
.l-workBlock1 .p-message{
	padding-top:50px;
	padding-bottom:70px;
	line-height:2;
	color:#221815;
	font-size:112.5%;
	background: url(../../images/work/img_work02_3_pc.png) center bottom no-repeat;
}

.l-workBlock2{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding-top:120px;
	padding-bottom:90px;
}
.l-workBlock2 > .p-image img{
	max-width: 980px;
	width: 100%;
}
.l-workBlock2 > div > .p-title{
	padding-top:120px;
	padding-bottom:10px;
}
.l-workBlock2 > div > .p-title img{
	max-width: 900px;
	width: 100%;
}
.l-workBlock2 > div > .p-message{
	padding:30px 40px;
	text-align:left;
	position:relative;
	margin-top:60px;
	line-height:2;
}
.l-workBlock2 > div > .p-message.p-work03{
	margin-bottom:50px;
}
.l-workBlock2 > div > .p-caution{
	padding:0;
	text-align:right;
	line-height:2;
	font-size:14px;
}
.l-workBlock2 > div > .p-message:before{
	content: '';
	background: url(../../images/work/img_work03_3_pc.png) center top repeat-x;
	position: absolute;
	top: 0px;
	left:0;
	width: 100%;
	height: 2px;
	background-size: 100% 2px;
}
.l-workBlock2 > div > .p-message:after{
	content: '';
	background: url(../../images/work/img_work03_3_pc.png) center bottom repeat-x;
	position: absolute;
	bottom: 0px;
	left:0;
	width: 100%;
	height: 2px;
	background-size: 100% 2px;
}
.l-workBlock2 > div > .p-photo{
	text-align:center;
	padding-top:60px;
}
.l-workBlock2 > div > .p-photo img{
	max-width:700px;
	width:100%;
}

.l-workBlock3{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:60px 0;
	background-color:#008f40;
}
.l-workBlock3 .l-workBlock3-table{
	width: 100%;
	margin:0 auto;
	text-align:center;
	display:table;	
}
.l-workBlock3 .l-workBlock3-table > div{
	display:table-cell;	
	width:25%;
	text-align:center;
	vertical-align:top;
}
.l-workBlock3 .l-workBlock3-table > div a{
	display:inline-block;
}
.l-workBlock3 .l-workBlock3-table > div a img{
	max-width:126px;
	width:100%;
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1600px){
	
	
	
	
}
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	
	
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	.l-workBlock{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0 0 70px;
		background: url(../../images/work/bg_work02_sp.png) center bottom repeat;	
	}
	
	.l-workBlock0{
		display:none;
	}
	
	.l-workBlock1 .p-title{
		padding-top:60px;
	}
	.l-workBlock1 .p-title img{
		max-width:116px;
		width:100%;
	}
	.l-workBlock1 .p-title2{
		padding-top:40px;
		padding-bottom:0;
	}
	.l-workBlock1 .p-title2 img{
		max-width:420px;
		width:100%;
	}
	.l-workBlock1 .p-message{
		padding-top:30px;
		padding-bottom:40px;
		line-height:2;
		color:#221815;
		font-size:150%;
		text-align:left;
		background: url(../../images/work/img_work02_3_sp.png) center bottom repeat-x;
	}
	.l-workBlock1 .p-message br{
		display:none;
	}
	
	.l-workBlock2{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding-top:70px;
		padding-bottom:0px;
	}
	.l-workBlock2 .l-inner700{
		padding:0;
	}
	.l-workBlock2 > .p-image img{
		max-width: 980px;
		width: 100%;
	}
	.l-workBlock2 > div > .p-title{
		padding-top:55px;
		padding-bottom:10px;
	}
	.l-workBlock2 > div > .p-title img{
		max-width: 900px;
		width: 100%;
	}
	.l-workBlock2 > div > .p-message{
		padding:20px 20px;
		text-align:left;
		position:relative;
		margin-top:40px;
		line-height:2;
		font-size:150%;
	}
	.l-workBlock2 > div > .p-message.p-work03{
		margin-bottom:28px;
	}
	.l-workBlock2 > div > .p-caution{
		font-size:16px;
	}
	.l-workBlock2 > div > .p-message:before{
		content: '';
		background: url(../../images/work/img_work03_3_sp.png) center top repeat-x;
		position: absolute;
		top: 0px;
		left:0;
		width: 100%;
		height: 4px;
		background-size: 100% 4px;
	}
	.l-workBlock2 > div > .p-message:after{
		content: '';
		background: url(../../images/work/img_work03_3_sp.png) center bottom repeat-x;
		position: absolute;
		bottom: 0px;
		left:0;
		width: 100%;
		height: 4px;
		background-size: 100% 4px;
	}
	.l-workBlock2 > div > .p-photo{
		text-align:center;
		padding-top:40px;
	}
	.l-workBlock2 > div > .p-photo img{
		max-width:600px;
		width:100%;
	}
	
	.l-workBlock3{
		display:none;
	}
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	
	.l-workBlock{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0 0 50px;
		background: url(../../images/work/bg_work02_sp.png) center bottom repeat;	
	}
	.l-workBlock1 .p-title{
		padding-top:50px;
	}
	.l-workBlock1 .p-title img{
		max-width:83px;
		width:100%;
	}
	.l-workBlock1 .p-title2{
		padding-top:30px;
		padding-bottom:0;
	}
	.l-workBlock1 .p-title2 img{
		max-width:300px;
		width:100%;
	}
	.l-workBlock1 .p-message{
		padding-top:30px;
		padding-bottom:40px;
		line-height:2;
		color:#221815;
		font-size:14px;
		text-align:left;
		background: url(../../images/work/img_work02_3_sp.png) center bottom repeat-x;
	}
	.l-workBlock1 .p-message br{
		display:none;
	}
	
	.l-workBlock2{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding-top:50px;
		padding-bottom:0px;
	}
	.l-workBlock2 .l-inner700{
		padding:0;
	}
	.l-workBlock2 > .p-image img{
		max-width: 480px;
		width: 100%;
	}
	.l-workBlock2 > div > .p-title{
		padding-top:30px;
		padding-bottom:0px;
	}
	.l-workBlock2 > div > .p-title img{
		max-width: 480px;
		width: 100%;
	}
	.l-workBlock2 > div > .p-message{
		padding:15px 15px;
		text-align:left;
		position:relative;
		margin-top:30px;
		line-height:2;
		font-size:14px;
	}
	.l-workBlock2 > div > .p-message.p-work03{
		margin-bottom:20px;
	}
	.l-workBlock2 > div > .p-caution{
		font-size:12px;
	}
	.l-workBlock2 > div > .p-message:before{
		content: '';
		background: url(../../images/work/img_work03_3_sp.png) center top repeat-x;
		position: absolute;
		top: 0px;
		left:0;
		width: 100%;
		height: 4px;
		background-size: 100% 4px;
	}
	.l-workBlock2 > div > .p-message:after{
		content: '';
		background: url(../../images/work/img_work03_3_sp.png) center bottom repeat-x;
		position: absolute;
		bottom: 0px;
		left:0;
		width: 100%;
		height: 4px;
		background-size: 100% 4px;
	}
	.l-workBlock2 > div > .p-photo{
		text-align:center;
		padding-top:30px;
	}
	.l-workBlock2 > div > .p-photo img{
		max-width:480px;
		width:100%;
	}
	
	
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/