@charset "utf-8";
/* CSS Document */

.l-businessBlock{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0 0 90px;
	background: url(../../images/business/bg_business_pc.png) center bottom repeat;	
}
.l-businessBlock .p-title{
	padding-top:120px;
}
.l-businessBlock .p-title img{
	max-width:169px;
	width:100%;
}
.l-businessBlock .p-title2{
	padding-top:60px;
	padding-bottom:0;
}
.l-businessBlock .p-title2 img{
	max-width:533px;
	width:100%;
}
.l-businessBlock .p-message{
	padding-top:50px;
	padding-bottom:30px;
	line-height:2;
	color:#221815;
	font-size:112.5%;
}

.l-businessBlock2{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0 0 0;
}
.l-businessBlock2 > div{
	width: 50%;
	display:inline-block;
	padding:60px 20px 0;
	vertical-align:top;
}
.l-businessBlock2 > div p.p-image img{
	max-width: 470px;
	width:100%;
}
.l-businessBlock2 > div p.p-image2 img{
	max-width: 470px;
	width:100%;
	padding:5px 0;
}
.l-businessBlock2 > div p.p-message2{
	font-size:112.5%;
	line-height:2;
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1600px){
	
	
	
	
}
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	
	
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	.l-businessBlock{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0 0 70px;
		background: url(../../images/business/bg_business_sp.png) center bottom repeat;	
	}
	.l-businessBlock .p-title{
		padding-top:70px;
	}
	.l-businessBlock .p-title img{
		max-width:165px;
		width:100%;
	}
	.l-businessBlock .p-title2{
		padding-top:60px;
		padding-bottom:0;
	}
	.l-businessBlock .p-title2 img{
		max-width:410px;
		width:100%;
	}
	.l-businessBlock .p-message{
		padding-top:35px;
		padding-bottom:0px;
		line-height:2;
		color:#221815;
		font-size:150%;
		text-align:left;
	}
	.l-businessBlock .p-message br{
		display:none;
	}
	
	.l-businessBlock2{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0 0 0;
	}
	.l-businessBlock2 > div{
		width: 100%;
		display:block;
		padding:38px 0px 0;
		vertical-align:top;
	}
	.l-businessBlock2 > div p.p-image img{
		max-width: 420px;
		width:100%;
	}
	.l-businessBlock2 > div p.p-image2 img{
		max-width: 420px;
		width:100%;
		padding:0 0;
	}
	.l-businessBlock2 > div p.p-message2{
		font-size:150%;
		line-height:2;
		padding:18px 0;
	}
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	.l-businessBlock{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0 0 50px;
		background: url(../../images/business/bg_business_sp.png) center bottom repeat;	
	}
	.l-businessBlock .p-title{
		padding-top:50px;
	}
	.l-businessBlock .p-title img{
		max-width:118px;
		width:100%;
	}
	.l-businessBlock .p-title2{
		padding-top:45px;
		padding-bottom:0;
	}
	.l-businessBlock .p-title2 img{
		max-width:292px;
		width:100%;
	}
	.l-businessBlock .p-message{
		padding-top:35px;
		padding-bottom:0px;
		line-height:2;
		color:#221815;
		font-size:14px;
		text-align:left;
	}
	.l-businessBlock .p-message br{
		display:none;
	}
	
	.l-businessBlock2{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0 0 0;
	}
	.l-businessBlock2 > div{
		width: 100%;
		display:block;
		padding:20px 0px 0;
		vertical-align:top;
	}
	.l-businessBlock2 > div p.p-image img{
		max-width: 300px;
		width:100%;
	}
	.l-businessBlock2 > div p.p-image2 img{
		max-width: 300px;
		width:100%;
		padding:0 0;
	}
	.l-businessBlock2 > div p.p-message2{
		font-size:14px;
		line-height:2;
		padding:13px 0;
	}
	.l-businessBlock2 > div p.p-message2 br{
		/*display:none;*/
	}
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/