@charset "utf-8";
/* CSS Document */

.l-workplaceBlock{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0 0 0px;
	background: url(../../images/workplace/workplace03/bg_workplace02_pc.png) center bottom repeat;	
}

.l-workplaceBlock0{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0px 0;
	background-color:#FFFFFF;
}
.l-workplaceBlock0 .l-workplaceBlock0-table{
	/*width: 100%;*/
	margin:0 auto;
	text-align:center;
	display:table;	
}
.l-workplaceBlock0 .l-workplaceBlock0-table > p{
	display:table-cell;
	text-align:center;
	vertical-align:top;
}
.l-workplaceBlock0 .l-workplaceBlock0-table > p a{
	display:block;
	padding:25px 25px;
}
.l-workplaceBlock0 .l-workplaceBlock0-table > p a img{
	max-width:84px;
	width:100%;
}

.l-workplaceBlock1{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:120px 0 0;
}
.l-workplaceBlock1 p{
	
}
.l-workplaceBlock1 p img{
	max-width:980px;
	width:100%;
}

.l-workplaceBlock2{
	width: 100%;
	margin:-120px auto 0;
	text-align:center;
	padding:60px 0 60px;
	background: url(../../images/workplace/workplace03/bg_workplace03_pc.png) center bottom repeat;
}
.l-workplaceBlock2 .p-message{
	line-height:2;
	color:#ef787c;
	font-size:162.5%;
	font-weight:bold;
}
.l-workplaceBlock2 .l-workplaceBlock3-01{
	width: 100%;
	margin:90px auto 0;
	text-align:center;
	padding:35px 0;
}
.l-workplaceBlock2 .l-table{
	margin:0 auto;
	text-align:center;
	display:table;
}
.l-workplaceBlock2 .l-table > div{
	display:table-cell;
	padding:0px 10px;
	vertical-align:top;
}
.l-workplaceBlock2 .l-table > div img{
	max-width:148px;
	width:100%;
}

.l-workplaceBlock4{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:100px 0 90px;
}
.l-workplaceBlock4 .p-title{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding-top:80px;
}
.l-workplaceBlock4 .p-title.p-fast{
	padding-top:0;
}
.l-workplaceBlock4 .p-title img{
	max-width: 762px;
	width:100%;
}
.l-workplaceBlock4 .p-image{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding-top:38px;
}
.l-workplaceBlock4 .p-image img{
	max-width: 980px;
	width:100%;
}
.l-workplaceBlock4 .l-workplaceBlock4-1{
	padding:10px 0 40px;
	position:relative;
	margin-top:50px;
}
.l-workplaceBlock4 .l-workplaceBlock4-1:before{
	content: '';
	background: url(../../images/workplace/workplace03/img_workplace04_7_pc.png) center top repeat-x;
	position: absolute;
	top: 0px;
	left:0;
	width: 100%;
	height: 3px;
	background-size: 100% 3px;
}
.l-workplaceBlock4 .l-workplaceBlock4-1:after{
	content: '';
	background: url(../../images/workplace/workplace03/img_workplace04_7_pc.png) center bottom repeat-x;
	position: absolute;
	bottom: 0px;
	left:0;
	width: 100%;
	height: 3px;
	background-size: 100% 3px;
}

.l-workplaceBlock4 .l-workplaceBlock4-1 .l-workplaceBlock4-1-table{
	width:100%;
	display:table;
	padding-top:30px;
}
.l-workplaceBlock4 .l-workplaceBlock4-1 .l-workplaceBlock4-1-table > div{
	display:table-cell;
	vertical-align:top;
}
.l-workplaceBlock4 .l-workplaceBlock4-1 .l-workplaceBlock4-1-table > div:first-of-type{
	width:62px;
	text-align:left;
}
.l-workplaceBlock4 .l-workplaceBlock4-1 .l-workplaceBlock4-1-table > div.p-type02:first-of-type{
	width:145px;
}
.l-workplaceBlock4 .l-workplaceBlock4-1 .l-workplaceBlock4-1-table > div:last-of-type{
	width:auto;
	text-align:left;
	padding-left:30px;
}
.l-workplaceBlock4 .l-workplaceBlock4-1 .l-workplaceBlock4-1-table > div p{
	line-height:2;
}
.l-workplaceBlock4 .l-workplaceBlock4-1 .l-workplaceBlock4-1-table > div img{
	max-width:62px;
	width:100%;
}
.l-workplaceBlock4 .l-workplaceBlock4-1 .l-workplaceBlock4-1-table > div.p-type02:first-of-type img:first-of-type{
	margin-right:10px;
}
.l-workplaceBlock4 .p-caution{
	line-height:2;
	font-size:87.5%;
	text-align:right;
	padding-top:50px;
	color:#FFFFFF;
}

.l-workplaceBlock5{
	width: 100%;
	margin:0 auto;
	padding:0;
	text-align:center;
	background: url(../../images/workplace/workplace03/bg_workplace04_pc.png) center bottom no-repeat;
	background-size:cover;
	line-height:0;
}
.l-workplaceBlock5 img{
	max-width: 980px;
	width:100%;
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1600px){
	
	
	
	
}
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	.l-workplaceBlock5 .l-inner980{
		padding:0;
	}
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	.l-workplaceBlock{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0 0 0px;
		background: url(../../images/workplace/workplace03/bg_workplace02_sp.png) center bottom repeat;
	}
	
	.l-workplaceBlock0{
		display:none;
	}
	
	.l-workplaceBlock1{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:60px 0 0;
	}
	.l-workplaceBlock1 .l-inner{
		padding:0;
	}
	.l-workplaceBlock1 p{
		line-height:0;
	}
	.l-workplaceBlock1 p img{
		max-width:768px;
		width:100%;
	}	
	
	.l-workplaceBlock2{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:25px 0 25px;
	}
	.l-workplaceBlock2 .p-message{
		line-height:2;
		color:#ef787c;
		font-size:150%;
		font-weight:bold;
		padding-top:25px;
	}
	.l-workplaceBlock2 .l-workplaceBlock3-01{
		width: 100%;
		margin:0px auto 0;
		text-align:center;
		padding:0px 0 0;
	}
	.l-workplaceBlock2 .l-table{
		margin:0 auto;
		text-align:center;
		display:block;
	}
	.l-workplaceBlock2 .l-table > div{
		display:block;
		padding:0px 0px 0px;
		vertical-align:top;
	}
	.l-workplaceBlock2 .l-table > div img{
		max-width:497px;
		width:100%;
	}
	
	.l-workplaceBlock4{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:40px 0 70px;
		background: url(../../images/workplace/workplace03/bg_workplace02_sp.png) center bottom repeat;
	}
	.l-workplaceBlock4 .l-inner980.l-image01{
		padding:0;
	}
	.l-workplaceBlock4 .l-inner980.l-image02{
		padding-left:0;
	}
	.l-workplaceBlock4 .p-title{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding-top:80px;
	}
	.l-workplaceBlock4 .p-title.p-fast{
		padding-top:0;
	}
	.l-workplaceBlock4 .p-title img{
		max-width: 587px;
		width:100%;
	}
	.l-workplaceBlock4 .p-image{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding-top:30px;
	}
	.l-workplaceBlock4 .p-image img{
		max-width: 980px;
		width:100%;
	}
	.l-workplaceBlock4 .l-workplaceBlock4-1{
		padding:10px 0 30px;
		position:relative;
		margin-top:35px;
	}
	.l-workplaceBlock4 .l-workplaceBlock4-1 .l-inner700{
		padding:0;
	}
	.l-workplaceBlock4 .l-workplaceBlock4-1:before{
		content: '';
		background: url(../../images/workplace/workplace03/img_workplace04_7_sp.png) center top repeat-x;
		position: absolute;
		top: 0px;
		left:0;
		width: 100%;
		height: 3px;
		background-size: 100% 3px;
	}
	.l-workplaceBlock4 .l-workplaceBlock4-1:after{
		content: '';
		background: url(../../images/workplace/workplace03/img_workplace04_7_sp.png) center bottom repeat-x;
		position: absolute;
		bottom: 0px;
		left:0;
		width: 100%;
		height: 3px;
		background-size: 100% 3px;
	}
	
	.l-workplaceBlock4 .l-workplaceBlock4-1 .l-workplaceBlock4-1-table{
		width:100%;
		display:table;
		padding-top:20px;
	}
	.l-workplaceBlock4 .l-workplaceBlock4-1 .l-workplaceBlock4-1-table > div{
		display:table-cell;
		vertical-align:top;
	}
	.l-workplaceBlock4 .l-workplaceBlock4-1 .l-workplaceBlock4-1-table > div:first-of-type{
		width:62px;
		text-align:left;
	}
	.l-workplaceBlock4 .l-workplaceBlock4-1 .l-workplaceBlock4-1-table > div.p-type02:first-of-type{
		width:145px;
	}
	.l-workplaceBlock4 .l-workplaceBlock4-1 .l-workplaceBlock4-1-table > div:last-of-type{
		width:auto;
		text-align:left;
		padding-left:30px;
	}
	.l-workplaceBlock4 .l-workplaceBlock4-1 .l-workplaceBlock4-1-table > div p{
		line-height:2;
		font-size:150%;
	}
	.l-workplaceBlock4 .l-workplaceBlock4-1 .l-workplaceBlock4-1-table > div img{
		max-width:62px;
		width:100%;
	}
	.l-workplaceBlock4 .l-workplaceBlock4-1 .l-workplaceBlock4-1-table > div.p-type02:first-of-type img:first-of-type{
		margin-right:10px;
	}
	.l-workplaceBlock4 .p-caution{
		line-height:2;
		font-size:87.5%;
		text-align:right;
		padding-top:50px;
		color:#FFFFFF;
	}
	
	.l-workplaceBlock5{
		width: 100%;
		margin:0 auto;
		padding:0 0 70px;
		text-align:center;
		background: url(../../images/workplace/workplace03/bg_workplace02_sp.png) center bottom repeat;
		line-height:0;
	}
	.l-workplaceBlock5 img{
		max-width: 768px;
		width:100%;
	}
	
	
	
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	
	.l-workplaceBlock{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0 0 0px;
		background: url(../../images/workplace/workplace03/bg_workplace02_sp.png) center bottom repeat;
	}
	
	.l-workplaceBlock0{
		display:none;
	}
	
	.l-workplaceBlock1{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:45px 0 0;
	}
	.l-workplaceBlock1 .l-inner{
		padding:0;
	}
	.l-workplaceBlock1 p{
		line-height:0;
	}
	.l-workplaceBlock1 p img{
		max-width:480px;
		width:100%;
	}	
	
	.l-workplaceBlock2{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:20px 0 20px;
	}
	.l-workplaceBlock2 .p-message{
		line-height:2;
		color:#ef787c;
		font-size:16px;
		font-weight:bold;
		padding-top:20px;
	}
	.l-workplaceBlock2 .l-workplaceBlock3-01{
		width: 100%;
		margin:0px auto 0;
		text-align:center;
		padding:0px 0 0;
	}
	.l-workplaceBlock2 .l-table{
		margin:0 auto;
		text-align:center;
		display:block;
	}
	.l-workplaceBlock2 .l-table > div{
		display:block;
		padding:0px 0px 0px;
		vertical-align:top;
	}
	.l-workplaceBlock2 .l-table > div img{
		max-width:480px;
		width:100%;
	}
	
	.l-workplaceBlock4{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:30px 0 50px;
	}
	.l-workplaceBlock4 .l-inner980.l-image01{
		padding:0;
	}
	.l-workplaceBlock4 .l-inner980.l-image02{
		padding-left:0;
	}
	.l-workplaceBlock4 .p-title{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding-top:50px;
	}
	.l-workplaceBlock4 .p-title.p-fast{
		padding-top:0;
	}
	.l-workplaceBlock4 .p-title img{
		max-width: 480px;
		width:100%;
	}
	.l-workplaceBlock4 .p-image{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding-top:30px;
	}
	.l-workplaceBlock4 .p-image img{
		max-width: 480px;
		width:100%;
	}
	.l-workplaceBlock4 .l-workplaceBlock4-1{
		padding:10px 0 20px;
		position:relative;
		margin-top:25px;
	}
	.l-workplaceBlock4 .l-workplaceBlock4-1 .l-inner700{
		padding:0;
	}
	.l-workplaceBlock4 .l-workplaceBlock4-1:before{
		content: '';
		background: url(../../images/workplace/workplace03/img_workplace04_7_sp.png) center top repeat-x;
		position: absolute;
		top: 0px;
		left:0;
		width: 100%;
		height: 3px;
		background-size: 100% 3px;
	}
	.l-workplaceBlock4 .l-workplaceBlock4-1:after{
		content: '';
		background: url(../../images/workplace/workplace03/img_workplace04_7_sp.png) center bottom repeat-x;
		position: absolute;
		bottom: 0px;
		left:0;
		width: 100%;
		height: 3px;
		background-size: 100% 3px;
	}
	
	.l-workplaceBlock4 .l-workplaceBlock4-1 .l-workplaceBlock4-1-table{
		width:100%;
		display:table;
		padding-top:15px;
	}
	.l-workplaceBlock4 .l-workplaceBlock4-1 .l-workplaceBlock4-1-table > div{
		display:table-cell;
		vertical-align:top;
	}
	.l-workplaceBlock4 .l-workplaceBlock4-1 .l-workplaceBlock4-1-table > div:first-of-type{
		width:40px;
	}
	.l-workplaceBlock4 .l-workplaceBlock4-1 .l-workplaceBlock4-1-table > div.p-type02:first-of-type{
		width:100px;
	}
	.l-workplaceBlock4 .l-workplaceBlock4-1 .l-workplaceBlock4-1-table > div:last-of-type{
		width:auto;
		text-align:left;
		padding-left:15px;
	}
	.l-workplaceBlock4 .l-workplaceBlock4-1 .l-workplaceBlock4-1-table > div p{
		line-height:2;
		font-size:14px;
	}
	.l-workplaceBlock4 .l-workplaceBlock4-1 .l-workplaceBlock4-1-table > div img{
		max-width:40px;
		width:100%;
	}
	.l-workplaceBlock4 .l-workplaceBlock4-1 .l-workplaceBlock4-1-table > div.p-type02:first-of-type img:first-of-type{
		margin-right:10px;
	}
	.l-workplaceBlock4 .p-caution{
		line-height:2;
		font-size:12px;
		text-align:right;
		padding-top:30px;
		color:#FFFFFF;
	}
	
	.l-workplaceBlock5{
		width: 100%;
		margin:0 auto;
		padding:0 0 50px;
		text-align:center;
		background: url(../../images/workplace/workplace03/bg_workplace02_sp.png) center bottom repeat;
		line-height:0;
	}
	.l-workplaceBlock5 img{
		max-width: 480px;
		width:100%;
	}
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/