@charset "utf-8";
/* CSS Document */

.l-workplaceBlock{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0 0 100px;
	background: url(../../images/workplace/workplace02/bg_workplace02_pc.png) center bottom repeat;	
}

.l-workplaceBlock0{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0px 0;
	background-color:#FFFFFF;
}
.l-workplaceBlock0 .l-workplaceBlock0-table{
	/*width: 100%;*/
	margin:0 auto;
	text-align:center;
	display:table;	
}
.l-workplaceBlock0 .l-workplaceBlock0-table > p{
	display:table-cell;
	text-align:center;
	vertical-align:top;
}
.l-workplaceBlock0 .l-workplaceBlock0-table > p a{
	display:block;
	padding:25px 25px;
}
.l-workplaceBlock0 .l-workplaceBlock0-table > p a img{
	max-width:84px;
	width:100%;
}

.l-workplaceBlock1 .p-title{
	padding-top:120px;
}
.l-workplaceBlock1 .p-title img{
	max-width:157px;
	width:100%;
}
.l-workplaceBlock1 .p-title2{
	padding-top:60px;
	padding-bottom:0;
}
.l-workplaceBlock1 .p-title2 img{
	max-width:348px;
	width:100%;
}
.l-workplaceBlock1 .p-message{
	padding-top:50px;
	padding-bottom:80px;
	line-height:2;
	color:#221815;
	font-size:112.5%;
}

.l-workplaceBlock2{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:50px 20px 30px;
	background-color:#FFFFFF;
	margin-top:80px;
}
.l-workplaceBlock2 .p-title{
	text-align:center;
}
.l-workplaceBlock2 .p-title img{
	max-width:900px;
	width:100%;
}
.l-workplaceBlock2 .p-message{
	text-align:left;
	line-height:2;
	font-size:112.5%;
	padding:20px 30px;
}
.l-workplaceBlock2 .p-message2{
	text-align:center;
	line-height:2;
	font-size:112.5%;
	padding:20px 40px 30px;
	color:#009944;
}
.l-workplaceBlock2 .p-photolist{
	width:100%;
	margin:0 auto;
	text-align:center;
	padding:0px 30px;
}
.l-workplaceBlock2 .p-photolist > p{
	display:inline-block;
	vertical-align:top;
	width:25%;
	padding:0 5px;
}
.l-workplaceBlock2 .p-photolist > p img{
	max-width:208px;
	width:100%;
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1600px){
	
	
	
	
}
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	
	
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	.l-workplaceBlock{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0 0 70px;
		background: url(../../images/workplace/workplace02/bg_workplace02_sp.png) center bottom repeat;
	}
	
	.l-workplaceBlock0{
		display:none;
	}
	
	.l-workplaceBlock1 .p-title{
		padding-top:60px;
	}
	.l-workplaceBlock1 .p-title img{
		max-width:175px;
		width:100%;
	}
	.l-workplaceBlock1 .p-title2{
		padding-top:40px;
		padding-bottom:0;
	}
	.l-workplaceBlock1 .p-title2 img{
		max-width:420px;
		width:100%;
	}
	.l-workplaceBlock1 .p-message{
		padding-top:30px;
		padding-bottom:40px;
		line-height:2;
		color:#221815;
		font-size:150%;
		text-align:left;
	}
	.l-workplaceBlock1 .p-message br{
		display:none;
	}
	
	.l-workplaceBlock2{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:40px 20px 30px;
		background-color:#FFFFFF;
		margin-top:40px;
	}
	.l-workplaceBlock2 .p-title{
		text-align:center;
	}
	.l-workplaceBlock2 .p-title img{
		max-width:540px;
		width:100%;
	}
	.l-workplaceBlock2 .p-message{
		text-align:left;
		line-height:2;
		font-size:150%;
		padding:20px 20px;
	}
	.l-workplaceBlock2 .p-message2{
		text-align:center;
		line-height:2;
		font-size:150%;
		padding:20px 20px 20px;
		color:#009944;
	}
	.l-workplaceBlock2 .p-photolist{
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0px 20px;
	}
	.l-workplaceBlock2 .p-photolist > p{
		display:inline-block;
		vertical-align:top;
		width:50%;
		padding:3px 5px;
	}
	.l-workplaceBlock2 .p-photolist > p img{
		max-width:100%;
		width:100%;
	}
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	
	.l-workplaceBlock{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0 0 50px;
		background: url(../../images/workplace/workplace02/bg_workplace02_sp.png) center bottom repeat;
	}
	.l-workplaceBlock1 .p-title{
		padding-top:50px;
	}
	.l-workplaceBlock1 .p-title img{
		max-width:83px;
		width:100%;
	}
	.l-workplaceBlock1 .p-title2{
		padding-top:30px;
		padding-bottom:0;
	}
	.l-workplaceBlock1 .p-title2 img{
		max-width:480px;
		width:100%;
	}
	.l-workplaceBlock1 .p-message{
		padding-top:30px;
		padding-bottom:40px;
		line-height:2;
		color:#221815;
		font-size:14px;
		text-align:left;
	}
	.l-workplaceBlock1 .p-message br{
		display:none;
	}
	
	.l-workplaceBlock2{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:30px 10px 20px;
		background-color:#FFFFFF;
		margin-top:30px;
	}
	.l-workplaceBlock2 .p-title{
		text-align:center;
	}
	.l-workplaceBlock2 .p-title img{
		max-width:480px;
		width:100%;
	}
	.l-workplaceBlock2 .p-message{
		text-align:left;
		line-height:2;
		font-size:14px;
		padding:10px 5px;
	}
	.l-workplaceBlock2 .p-message2{
		text-align:center;
		line-height:2;
		font-size:14px;
		padding:10px 5px;
		color:#009944;
	}
	.l-workplaceBlock2 .p-photolist{
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0px 0px;
	}
	.l-workplaceBlock2 .p-photolist > p{
		display:inline-block;
		vertical-align:top;
		width:50%;
		padding:3px 5px;
	}
	.l-workplaceBlock2 .p-photolist > p img{
		max-width:100%;
		width:100%;
	}
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/