@charset "utf-8";
/* CSS Document */

.l-companyBlock{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0 0 90px;
	background: url(../../images/company/bg_company_pc.png) center bottom repeat;	
}
.l-companyBlock0 .p-title{
	padding-top:120px;
}
.l-companyBlock0 .p-title img{
	max-width:175px;
	width:100%;
}
.l-companyBlock0 .p-title2{
	padding-top:60px;
	padding-bottom:0;
}
.l-companyBlock0 .p-title2 img{
	max-width:531px;
	width:100%;
}
.l-companyBlock0 .p-message{
	padding-top:50px;
	padding-bottom:90px;
	line-height:2;
	color:#221815;
	font-size:112.5%;
}

.l-companyBlock1{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding-top:0px;
	padding-bottom:90px;
}
.l-companyBlock1 > .p-title img{
	max-width: 900px;
	width: 100%;
}
.l-companyBlock1 .l-companyBlock1-table{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding-top:15px;
	display:table;
}
.l-companyBlock1 .l-companyBlock1-tr{
	width: 100%;
	background: url(../../images/company/img_border_pc.png) left bottom no-repeat;
	display:table-row;
}
.l-companyBlock1 .l-companyBlock1-tr p{
	text-align:left;
	display:table-cell;
	vertical-align:top;
	line-height:2;
}
.l-companyBlock1 .l-companyBlock1-tr p:first-of-type{
	width: 130px;
	color:#009944;
	font-size:125%;
	font-weight:bold;
	padding:20px 0px 10px 20px;
}
.l-companyBlock1 .l-companyBlock1-tr p:last-of-type{
	width: calc(100% - 130px);
	color:#2f2725;
	font-size:112.5%;
	padding:20px 0px 10px 0px;
}

.l-companyBlock2{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding-top:0;
}
.l-companyBlock2 > .p-title img{
	max-width: 900px;
	width: 100%;
}
.l-companyBlock2 .l-companyBlock2-table{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding-top:35px;
	display:block;
}
.l-companyBlock2 .l-companyBlock2-tr{
	width: 100%;
	margin:10px auto 0px;
	text-align:center;
	display:table;
}
.l-companyBlock2 .l-companyBlock2-tr p{
	text-align:left;
	display:table-cell;
	vertical-align:top;
	line-height:2;
}
.l-companyBlock2 .l-companyBlock2-tr p:first-of-type{
	width: 145px;
	color:#FFFFFF;
	font-size:100%;
	font-weight:bold;
	padding:15px 10px;
	background-color:#009944;
}
.l-companyBlock2 .l-companyBlock2-tr p:last-of-type{
	width: calc(100% - 145px);
	color:#2f2725;
	background-color:#FFFFFF;
	font-size:100%;
	padding:15px 15px;
}
.l-companyBlock2 .l-companyBlock2-tr p:last-of-type span{
	color:#009944;
	font-weight:bold;
}
.l-companyBlock2 .l-companyBlock2-tr p:last-of-type a{
	position:relative;
	top:-3px;
}
.l-companyBlock2 .l-companyBlock2-tr p:last-of-type a:hover{
	cursor:pointer;
}
.l-companyBlock2 .l-companyBlock2-tr p:last-of-type a.p-link01{
	color:#0081ce;
	text-decoration:underline;
}
.l-companyBlock2 .l-companyBlock2-tr p:last-of-type a.p-link02{
	color:#ff0000;
	text-decoration:underline;
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1600px){
	
	
	
	
}
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	
	
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	.l-companyBlock{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0 0 70px;
		background: url(../../images/company/bg_company_sp.png) center bottom repeat;	
	}
	.l-companyBlock0 .p-title{
		padding-top:70px;
	}
	.l-companyBlock0 .p-title img{
		max-width:170px;
		width:100%;
	}
	.l-companyBlock0 .p-title2{
		padding-top:60px;
		padding-bottom:0;
	}
	.l-companyBlock0 .p-title2 img{
		max-width:407px;
		width:100%;
	}
	.l-companyBlock0 .p-message{
		padding-top:35px;
		padding-bottom:32px;
		line-height:2;
		color:#221815;
		font-size:150%;
		text-align:left;
	}
	.l-companyBlock0 .p-message br{
		display:none;
	}
	
	.l-companyBlock1{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding-top:0;
		padding-bottom:60px;
	}
	.l-companyBlock1 > .p-title img{
		max-width: 768px;
		width: 100%;
	}
	.l-companyBlock1 .l-companyBlock1-table{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding-top:5px;
		display:block;
	}
	.l-companyBlock1 .l-companyBlock1-tr{
		width: 100%;
		background: url(../../images/company/img_border_sp.png) left bottom repeat-x;
		display:block;
	}
	.l-companyBlock1 .l-companyBlock1-tr p{
		text-align:center;
		display:block;
		vertical-align:top;
	}
	.l-companyBlock1 .l-companyBlock1-tr p:first-of-type{
		width: 100%;
		color:#009944;
		font-size:23px;
		font-weight:bold;
		padding:18px 10px 0px 10px;
	}
	.l-companyBlock1 .l-companyBlock1-tr p:last-of-type{
		width: 100%;
		color:#2f2725;
		font-size:21px;
		padding:5px 10px 10px 10px;
	}
	
	.l-companyBlock2{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding-top:0;/*85*/
	}
	.l-companyBlock2 > .p-title img{
		max-width: 768px;
		width: 100%;
	}
	.l-companyBlock2 .l-companyBlock2-table{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding-top:5px;
		display:block;
	}
	.l-companyBlock2 .l-companyBlock2-tr{
		width: 100%;
		margin:20px auto 0px;/*30*/
		text-align:center;
		display:block;
	}
	.l-companyBlock2 .l-companyBlock2-tr p{
		text-align:center;
		display:block;
		vertical-align:top;
		line-height:2;
	}
	.l-companyBlock2 .l-companyBlock2-tr p:first-of-type{
		width: 100%;
		color:#FFFFFF;
		font-size:137.5%;/*32*/
		font-weight:bold;
		padding:15px 10px;/*18*/
		background-color:#009944;
	}
	.l-companyBlock2 .l-companyBlock2-tr p:last-of-type{
		width: 100%;		
		color:#2f2725;
		background-color:#FFFFFF;
		font-size:137.5%;/*32*/
		padding:15px 10px;/*18*/
	}
	.l-companyBlock2 .l-companyBlock2-tr p:last-of-type span{
		color:#009944;
		font-weight:bold;
	}
	.l-companyBlock2 .l-companyBlock2-tr p:last-of-type a{
		position:relative;
		top:-3px;
	}
	.l-companyBlock2 .l-companyBlock2-tr p:last-of-type a.p-link01{
		color:#0081ce;
		text-decoration:underline;
	}
	.l-companyBlock2 .l-companyBlock2-tr p:last-of-type a.p-link02{
		color:#ff0000;
		text-decoration:underline;
	}
	
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	
	.l-companyBlock{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0 0 50px;
		background: url(../../images/company/bg_company_sp.png) center bottom repeat;	
	}
	.l-companyBlock0 .p-title{
		padding-top:50px;
	}
	.l-companyBlock0 .p-title img{
		max-width:121px;
		width:100%;
	}
	.l-companyBlock0 .p-title2{
		padding-top:45px;
		padding-bottom:0;
	}
	.l-companyBlock0 .p-title2 img{
		max-width:291px;
		width:100%;
	}
	.l-companyBlock0 .p-message{
		padding-top:35px;
		padding-bottom:23px;
		line-height:2;
		color:#221815;
		font-size:14px;
		text-align:left;
	}
	.l-companyBlock0 .p-message br{
		display:none;
	}
	
	.l-companyBlock1{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding-top:0;
		padding-bottom:40px;
	}
	.l-companyBlock1 > .p-title img{
		max-width: 480px;
		width: 100%;
	}
	.l-companyBlock1 .l-companyBlock1-table{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding-top:0px;
		display:block;
	}
	.l-companyBlock1 .l-companyBlock1-tr{
		width: 100%;
		background: url(../../images/company/img_border_sp.png) left bottom repeat-x;
		display:block;
	}
	.l-companyBlock1 .l-companyBlock1-tr p{
		text-align:center;
		display:block;
		vertical-align:top;
	}
	.l-companyBlock1 .l-companyBlock1-tr p:first-of-type{
		width: 100%;
		color:#009944;
		font-size:16px;
		font-weight:bold;
		padding:15px 10px 0px 10px;
	}
	.l-companyBlock1 .l-companyBlock1-tr p:last-of-type{
		width: 100%;
		color:#2f2725;
		font-size:14px;
		padding:5px 10px 10px 10px;
	}
	
	.l-companyBlock2{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding-top:0;/*85*/
	}
	.l-companyBlock2 > .p-title img{
		max-width: 480px;
		width: 100%;
	}
	.l-companyBlock2 .l-companyBlock2-table{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding-top:5px;
		display:block;
	}
	.l-companyBlock2 .l-companyBlock2-tr{
		width: 100%;
		margin:15px auto 0px;/*30*/
		text-align:center;
		display:block;
	}
	.l-companyBlock2 .l-companyBlock2-tr p{
		text-align:center;
		display:block;
		vertical-align:top;
		line-height:2;
	}
	.l-companyBlock2 .l-companyBlock2-tr p:first-of-type{
		width: 100%;
		color:#FFFFFF;
		font-size:14px;/*32*/
		font-weight:bold;
		padding:10px 10px;/*18*/
		background-color:#009944;
	}
	.l-companyBlock2 .l-companyBlock2-tr p:last-of-type{
		width: 100%;		
		color:#2f2725;
		background-color:#FFFFFF;
		font-size:14px;/*32*/
		padding:10px 10px;/*18*/
	}
	.l-companyBlock2 .l-companyBlock2-tr p:last-of-type span{
		color:#009944;
		font-weight:bold;
	}
	.l-companyBlock2 .l-companyBlock2-tr p:last-of-type a{
		position:relative;
		top:-3px;
	}
	.l-companyBlock2 .l-companyBlock2-tr p:last-of-type a.p-link01{
		color:#0081ce;
		text-decoration:underline;
	}
	.l-companyBlock2 .l-companyBlock2-tr p:last-of-type a.p-link02{
		color:#ff0000;
		text-decoration:underline;
	}
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/