@charset "utf-8";
/* CSS Document */

.l-faqBlock{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0 0 90px;
	background: url(../../images/faq/bg_faq_pc.png) center bottom repeat;	
}
.l-faqBlock1 .p-title{
	padding-top:120px;
	padding-bottom:20px;
}
.l-faqBlock1 .p-title img{
	max-width:81px;
	width:100%;
}

.l-faqBlock2 .p-title{
	padding-top:30px;
	text-align:left;
}
.l-faqBlock2 .p-title img{
	max-width:201px;
	width:100%;
}
.l-faqBlock2 .p-title2{
	padding-top:30px;
	text-align:left;
}
.l-faqBlock2 .p-title2 img{
	max-width:700px;
	width:100%;
}
.l-faqBlock2 .p-message{
	font-size:112.5%;
	line-height:2;
	text-align:left;
	padding-top:15px;
}
.l-faqBlock2 .p-message span{
	color:#009944;
	font-weight:bold;
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1600px){
	
	
	
	
}
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	
	
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	.l-faqBlock{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0 0 70px;
		background: url(../../images/faq/bg_faq_sp.png) center bottom repeat;	
	}
	.l-faqBlock1 .p-title{
		padding-top:70px;
	}
	.l-faqBlock1 .p-title img{
		max-width:97px;
		width:100%;
	}
	
	.l-faqBlock2 .p-title{
		padding-top:30px;
		text-align:left;
	}
	.l-faqBlock2 .p-title img{
		max-width:204px;
		width:100%;
	}
	.l-faqBlock2 .p-title2{
		padding-top:30px;
		text-align:left;
	}
	.l-faqBlock2 .p-title2 img{
		max-width:700px;
		width:100%;
	}
	.l-faqBlock2 .p-message{
		font-size:150%;
		line-height:2;
		text-align:left;
		padding-top:15px;
	}
	.l-faqBlock2 .p-message span{
		color:#009944;
		font-weight:bold;
	}
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	.l-faqBlock{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0 0 50px;
		background: url(../../images/faq/bg_faq_sp.png) center bottom repeat;	
	}
	.l-faqBlock1 .p-title{
		padding-top:50px;
	}
	.l-faqBlock1 .p-title img{
		max-width:70px;
		width:100%;
	}
	
	.l-faqBlock2 .p-title{
		padding-top:20px;
		text-align:left;
	}
	.l-faqBlock2 .p-title img{
		max-width:146px;
		width:100%;
	}
	.l-faqBlock2 .p-title2{
		padding-top:20px;
		text-align:left;
	}
	.l-faqBlock2 .p-title2 img{
		max-width:480px;
		width:100%;
	}
	.l-faqBlock2 .p-message{
		font-size:14px;
		line-height:2;
		text-align:left;
		padding-top:5px;
	}
	.l-faqBlock2 .p-message span{
		color:#009944;
		font-weight:bold;
	}
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/