@charset "utf-8";
/* CSS Document */

.l-mvBlock{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0;
}
.l-mv{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding-bottom:0px;
	background:url(../images/top/bg_mv_pc.png) center bottom no-repeat;
	background-size:cover;
	
	display: table;
	height:759px;
}
.l-mv div{
	display: table-cell;
	vertical-align: middle;
}
.l-mv div img{
	max-width:618px;
	width: 100%;
}

.l-messageBlock{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0 0 60px;
}
.l-messageBlock .l-inner1200{
	background:url(../images/top/bg_message_pc.png) center top no-repeat;
	background-size:100% auto;
}
.l-messageBlock .p-arrow{
	
}
.l-messageBlock .p-title{
	padding-top:60px;
}
.l-messageBlock .p-title img{
	max-width:166px;
	width:100%;
}
.l-messageBlock .p-title2{
	padding-top:40px;
}
.l-messageBlock .p-title2 img{
	max-width:362px;
	width:100%;
}
.l-messageBlock .p-message{
	padding-top:30px;
	line-height:2;
}
.l-messageBlock .p-button{
	padding-top:45px;
}
.l-messageBlock .p-button img{
	max-width:191px;
	width:100%;
}


.l-businessBlock{
	background:url(../images/top/bg_business_pc.png) center top no-repeat;
	background-size:cover;
	margin:0 auto;
	text-align:center;
	padding:85px 0 65px;
}
.l-businessBlock .l-inner710{
	background-color:#008f40;
	background-size:100% auto;
}
.l-businessBlock .p-title{
	padding-top:0px;
}
.l-businessBlock .p-title img{
	max-width:213px;
	width:100%;
	margin-top:-30px;
}
.l-businessBlock .p-title2{
	padding-top:25px;
}
.l-businessBlock .p-title2 img{
	max-width:334px;
	width:100%;
}
.l-businessBlock .p-message{
	padding-top:20px;
	line-height:2;
	color:#FFFFFF;
}
.l-businessBlock .p-button{
	padding-top:25px;
	padding-bottom:0px;
}
.l-businessBlock .p-button img{
	max-width:191px;
	width:100%;
	margin-bottom:-30px;
}

.l-workBlock{
	background:url(../images/top/bg_work_pc.png) center top no-repeat;
	background-size:cover;
	margin:0 auto;
	text-align:center;
	padding:70px 0 70px;
}
.l-workBlock .p-title{
	padding-top:0px;
}
.l-workBlock .p-title img{
	max-width:162px;
	width:100%;
}
.l-workBlock .l-workBlock01{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding-top:20px;
}
.l-workBlock .l-workBlock01 > div{
	display:inline-block;
	width:50%;
	text-align:left;
}
.l-workBlock .l-workBlock01 > div.p-left{
	padding-left:20px;
}
.l-workBlock .l-workBlock01 > div.p-right{
	padding-left:0;
	margin-left:-20px;
}
.l-workBlock .l-workBlock01 > div a img{
	max-width:346px;
	width:100%;
}
.l-workBlock .l-workBlock02{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding-top:70px;
}
.l-workBlock .l-workBlock02 > div{
	display:inline-block;
	width:50%;
	text-align:right;
}
.l-workBlock .l-workBlock02 > div.p-left{
	padding-right:0px;
	margin-right:-20px;
}
.l-workBlock .l-workBlock02 > div.p-right{
	padding-right:20px;
}
.l-workBlock .l-workBlock02 > div a img{
	max-width:346px;
	width:100%;
}

.l-workplaceBlock{
	background-color:#97dbef;
	margin:0 auto;
	text-align:center;
	padding:70px 0 60px;
}
.l-workplaceBlock .p-title{
	padding-top:0px;
}
.l-workplaceBlock .p-title img{
	max-width:402px;
	width:100%;
}
.l-workplaceBlock .l-inner900 > div{
	display:inline-block;
	width:50%;
	text-align:center;
	padding-top:40px;
}
.l-workplaceBlock .l-inner900 > div.p-left{
	padding-right:20px;
}
.l-workplaceBlock .l-inner900 > div.p-right{
	padding-left:20px;
}
.l-workplaceBlock .l-inner900 > div a img{
	max-width:430px;
	width:100%;
}

.l-faqBlock{
	margin:0 auto;
	text-align:center;
	padding:70px 0 70px;
}
.l-faqBlock .l-inner900 > div{
	display:inline-block;
	width:50%;
	text-align:center;
}
.l-faqBlock .l-inner900 > div.p-left{
	padding-right:20px;
}
.l-faqBlock .l-inner900 > div.p-right{
	padding-left:20px;
}
.l-faqBlock .l-inner900 > div a img{
	max-width:420px;
	width:100%;
}

.l-entryBlock{
	background:url(../images/top/bg_entry_pc.png) center top no-repeat;
	background-size:cover;
	margin:0 auto;
	text-align:center;
	padding:70px 0 70px;
}
.l-entryBlock .l-inner900 > div{
	display:block;
	width:100%;
	text-align:center;
}
.l-entryBlock .l-inner900 > div a:hover{
	cursor:pointer;
}
.l-entryBlock .l-inner900 > div a img{
	max-width:890px;
	width:100%;
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1600px){
	
	
	
	
}
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	.l-mv{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding-bottom:55px;
		background:url(../images/top/bg_mv_sp.png) center bottom no-repeat;
		position:relative;
		background-size:cover;
		
		height:712px;
	}
	
	.l-messageBlock{
		width: 100%;
		margin:-4px auto 0;
		text-align:center;
		padding:0 0 60px;
	}
	.l-messageBlock .l-inner1200{
		background:url(../images/top/bg_message_sp.png) center top no-repeat;
		background-size:100% auto;
	}
	.l-messageBlock .p-arrow{
		
	}
	.l-messageBlock .p-title{
		padding-top:60px;
	}
	.l-messageBlock .p-title img{
		max-width:166px;
		width:100%;
	}
	.l-messageBlock .p-title2{
		padding-top:40px;
	}
	.l-messageBlock .p-title2 img{
		max-width:362px;
		width:100%;
	}
	.l-messageBlock .p-message{
		
	}
	.l-messageBlock .p-button{
		padding-top:30px;
	}
	.l-messageBlock .p-button img{
		max-width:191px;
		width:100%;
	}
	
	.l-businessBlock{
		background:url(../images/top/bg_business_pc.png) center top no-repeat;
		background-size:cover;
		margin:0 auto;
		text-align:center;
		padding:85px 0 65px;
	}
	.l-businessBlock .l-inner710{
		background-color:#008f40;
		background-size:100% auto;
	}
	.l-businessBlock .p-title{
		padding-top:0px;
	}
	.l-businessBlock .p-title img{
		max-width:213px;
		width:100%;
		margin-top:-30px;
	}
	.l-businessBlock .p-title2{
		padding-top:25px;
	}
	.l-businessBlock .p-title2 img{
		max-width:334px;
		width:100%;
	}
	.l-businessBlock .p-message{
		padding-top:20px;
		line-height:2;
		color:#FFFFFF;
	}
	.l-businessBlock .p-button{
		padding-top:25px;
		padding-bottom:0px;
	}
	.l-businessBlock .p-button img{
		max-width:191px;
		width:100%;
		margin-bottom:-30px;
	}
	
	.l-workBlock{
		background:url(../images/top/bg_work_pc.png) center top no-repeat;
		background-size:cover;
		margin:0 auto;
		text-align:center;
		padding:70px 0 70px;
	}
	.l-workBlock .p-title{
		padding-top:0px;
	}
	.l-workBlock .p-title img{
		max-width:162px;
		width:100%;
	}
	.l-workBlock .l-workBlock01{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding-top:20px;
	}
	.l-workBlock .l-workBlock01 > div{
		display:inline-block;
		width:50%;
		text-align:left;
	}
	.l-workBlock .l-workBlock01 > div.p-left{
		padding-left:0px;
		padding-right:10px
	}
	.l-workBlock .l-workBlock01 > div.p-right{
		padding-left:10px;
		margin-left:0px;
	}
	.l-workBlock .l-workBlock01 > div a img{
		max-width:346px;
		width:100%;
	}
	.l-workBlock .l-workBlock02{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding-top:70px;
	}
	.l-workBlock .l-workBlock02 > div{
		display:inline-block;
		width:50%;
		text-align:right;
	}
	.l-workBlock .l-workBlock02 > div.p-left{
		padding-right:10px;
		margin-right:0px;
	}
	.l-workBlock .l-workBlock02 > div.p-right{
		padding-left:10px;
		padding-right:0px;
	}
	.l-workBlock .l-workBlock02 > div a img{
		max-width:346px;
		width:100%;
	}
	
	.l-workplaceBlock{
		background-color:#97dbef;
		margin:0 auto;
		text-align:center;
		padding:70px 0 60px;
	}
	.l-workplaceBlock .p-title{
		padding-top:0px;
	}
	.l-workplaceBlock .p-title img{
		max-width:402px;
		width:100%;
	}
	.l-workplaceBlock .l-inner900 > div{
		display:inline-block;
		width:50%;
		text-align:center;
		padding-top:40px;
	}
	.l-workplaceBlock .l-inner900 > div.p-left{
		padding-right:20px;
	}
	.l-workplaceBlock .l-inner900 > div.p-right{
		padding-left:20px;
	}
	.l-workplaceBlock .l-inner900 > div a img{
		max-width:430px;
		width:100%;
	}
	
	.l-faqBlock{
		margin:0 auto;
		text-align:center;
		padding:70px 0 70px;
	}
	.l-faqBlock .l-inner900 > div{
		display:inline-block;
		width:50%;
		text-align:center;
	}
	.l-faqBlock .l-inner900 > div.p-left{
		padding-right:20px;
	}
	.l-faqBlock .l-inner900 > div.p-right{
		padding-left:20px;
	}
	.l-faqBlock .l-inner900 > div a img{
		max-width:420px;
		width:100%;
	}
	
	.l-entryBlock{
		background:url(../images/top/bg_entry_pc.png) center top no-repeat;
		background-size:cover;
		margin:0 auto;
		text-align:center;
		padding:70px 0 70px;
	}
	.l-entryBlock .l-inner900 > div{
		display:block;
		width:100%;
		text-align:center;
	}
	.l-entryBlock .l-inner900 > div a img{
		max-width:890px;
		width:100%;
	}
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	.l-mv{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding-bottom:55px;
		background:url(../images/top/bg_mv_sp.png) center bottom no-repeat;
		position:relative;
		background-size:cover;
		
		height:498px;
	}
	.l-mv div{
		display: table-cell;
		vertical-align: middle;
		padding:0 3%;
	}
	.l-mv div img{
		max-width:618px;
		width: 100%;
	}
	
	.l-messageBlock{
		width: 100%;
		margin:-4px auto 0;
		text-align:center;
		padding:0 0 40px;
	}
	.l-messageBlock .l-inner1200{
		background:url(../images/top/bg_message_sp.png) center top no-repeat;
		background-size:100% auto;
	}
	.l-messageBlock .p-arrow{
		
	}
	.l-messageBlock .p-arrow img{
		max-width:62px;
		width:100%;
	}	
	.l-messageBlock .p-title{
		padding-top:40px;
	}
	.l-messageBlock .p-title img{
		max-width:131px;
		width:100%;
	}	
	.l-messageBlock .p-title2{
		padding-top:40px;
	}
	.l-messageBlock .p-title2 img{
		max-width:324px;
		width:100%;
	}
	.l-messageBlock .p-message{
		padding-top:30px;
		font-size:150%;
		line-height:2;
	}
	.l-messageBlock .p-button{
		padding-top:40px;
	}
	.l-messageBlock .p-button img{
		max-width:343px;
		width:100%;
	}
	
	.l-businessBlock{
		background:url(../images/top/bg_business_sp.png) center top no-repeat;
		background-size:cover;
		margin:0 auto;
		text-align:center;
		padding:105px 3% 85px;
	}
	.l-businessBlock .l-inner710{
		background-color:#008f40;
		background-size:100% auto;
	}
	.l-businessBlock .p-title{
		padding-top:0px;
	}
	.l-businessBlock .p-title img{
		max-width:180px;
		width:100%;
		margin-top:-25px;
	}
	.l-businessBlock .p-title2{
		padding-top:20px;
	}
	.l-businessBlock .p-title2 img{
		max-width:324px;
		width:100%;
	}
	.l-businessBlock .p-message{
		padding-top:25px;
		line-height:2;
		font-size: 150%;
		color:#FFFFFF;
	}
	.l-businessBlock .p-button{
		padding-top:30px;
		padding-bottom:0px;
	}
	.l-businessBlock .p-button img{
		max-width:343px;
		width:100%;
		margin-bottom:-45px;
	}
	
	.l-workBlock{
		background:url(../images/top/bg_work_pc.png) center top no-repeat;
		background-size:cover;
		margin:0 auto;
		text-align:center;
		padding:45px 0 45px;
	}
	.l-workBlock .p-title{
		padding-top:0px;
	}
	.l-workBlock .p-title img{
		max-width:114px;
		width:100%;
	}
	.l-workBlock .l-workBlock01{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding-top:0px;
	}
	.l-workBlock .l-workBlock01 > div{
		display:block;
		width:100%;
		text-align:center;
		padding-top:40px;
	}
	.l-workBlock .l-workBlock01 > div.p-left{
		padding-left:0px;
		padding-right:0px
	}
	.l-workBlock .l-workBlock01 > div.p-right{
		padding-left:0px;
		margin-left:0px;
	}
	.l-workBlock .l-workBlock01 > div a img{
		max-width:486px;
		width:100%;
	}
	.l-workBlock .l-workBlock02{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding-top:0px;
	}
	.l-workBlock .l-workBlock02 > div{
		display:block;
		width:100%;
		text-align:center;
		padding-top:40px;
	}
	.l-workBlock .l-workBlock02 > div.p-left{
		padding-right:0px;
		margin-right:0px;
	}
	.l-workBlock .l-workBlock02 > div.p-right{
		padding-left:0px;
		padding-right:0px;
	}
	.l-workBlock .l-workBlock02 > div a img{
		max-width:486px;
		width:100%;
	}
	
	.l-workplaceBlock{
		background-color:#97dbef;
		margin:0 auto;
		text-align:center;
		padding:40px 0 40px;
	}
	.l-workplaceBlock .p-title{
		padding-top:0px;
	}
	.l-workplaceBlock .p-title img{
		max-width:281px;
		width:100%;
	}
	.l-workplaceBlock .l-inner900 > div{
		display:block;
		width:100%;
		text-align:center;
		padding-top:35px;
	}
	.l-workplaceBlock .l-inner900 > div.p-left{
		padding-right:0px;
	}
	.l-workplaceBlock .l-inner900 > div.p-right{
		padding-left:0px;
	}
	.l-workplaceBlock .l-inner900 > div a img{
		max-width:600px;
		width:100%;
	}
	
	.l-faqBlock{
		margin:0 auto;
		text-align:center;
		padding:40px 0 40px;
	}
	.l-faqBlock .l-inner900 > div{
		display:block;
		width:100%;
		text-align:center;
	}
	.l-faqBlock .l-inner900 > div.p-left{
		padding-right:0px;
		padding-bottom:28px;
	}
	.l-faqBlock .l-inner900 > div.p-right{
		padding-left:0px;
	}
	.l-faqBlock .l-inner900 > div a img{
		max-width:420px;
		width:100%;
	}
	
	.l-entryBlock{
		background:url(../images/top/bg_entry_sp.png) center top no-repeat;
		background-size:cover;
		margin:0 auto;
		text-align:center;
		padding:40px 0 40px;
	}
	.l-entryBlock .l-inner900 > div{
		display:block;
		width:100%;
		text-align:center;
	}
	.l-entryBlock .l-inner900 > div a img{
		max-width:420px;
		width:100%;
	}
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	.l-mv{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding-bottom:55px;
		background:url(../images/top/bg_mv_sp.png) center bottom no-repeat;
		position:relative;
		background-size:cover;
		
		height:356px;
	}
	.l-mv div img{
		
	}
	
	.l-messageBlock{
		width: 100%;
		margin:-4px auto 0;
		text-align:center;
		padding:0 0 30px;
	}
	.l-messageBlock .l-inner1200{
		background:url(../images/top/bg_message_sp.png) center top no-repeat;
		background-size:100% auto;
	}
	.l-messageBlock .p-arrow{
		
	}
	.l-messageBlock .p-arrow img{
		max-width:62px;
		width:100%;
	}
		
	.l-messageBlock .p-title{
		padding-top:30px;
	}
	.l-messageBlock .p-title img{
		max-width:94px;
		width:100%;
	}	
	.l-messageBlock .p-title2{
		padding-top:30px;
	}
	.l-messageBlock .p-title2 img{
		max-width:231px;
		width:100%;
	}
	.l-messageBlock .p-message{
		padding-top:20px;
		font-size:100%;
		line-height:2;
	}
	.l-messageBlock .p-button{
		padding-top:30px;
	}
	.l-messageBlock .p-button img{
		max-width:245px;
		width:100%;
	}
	
	.l-businessBlock{
		background:url(../images/top/bg_business_sp.png) center top no-repeat;
		background-size:cover;
		margin:0 auto;
		text-align:center;
		padding:75px 3% 62px;
	}
	.l-businessBlock .l-inner710{
		background-color:#008f40;
		background-size:100% auto;
	}
	.l-businessBlock .p-title{
		padding-top:0px;
	}
	.l-businessBlock .p-title img{
		max-width:125px;
		width:100%;
		margin-top:-17px;
	}
	.l-businessBlock .p-title2{
		padding-top:20px;
	}
	.l-businessBlock .p-title2 img{
		max-width:231px;
		width:100%;
	}
	.l-businessBlock .p-message{
		padding-top:15px;
		line-height:2;
		font-size: 100%;
		color:#FFFFFF;
	}
	.l-businessBlock .p-button{
		padding-top:20px;
		padding-bottom:0px;
	}
	.l-businessBlock .p-button img{
		max-width:245px;
		width:100%;
		margin-bottom:-35px;
	}
	
	.l-workBlock{
		background:url(../images/top/bg_work_pc.png) center top no-repeat;
		background-size:cover;
		margin:0 auto;
		text-align:center;
		padding:30px 0 30px;
	}
	.l-workBlock .p-title{
		padding-top:0px;
	}
	.l-workBlock .p-title img{
		max-width:81px;
		width:100%;
	}
	.l-workBlock .l-workBlock01{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding-top:0px;
	}
	.l-workBlock .l-workBlock01 > div{
		display:block;
		width:100%;
		text-align:center;
		padding-top:30px;
	}
	.l-workBlock .l-workBlock01 > div.p-left{
		padding-left:0px;
		padding-right:0px
	}
	.l-workBlock .l-workBlock01 > div.p-right{
		padding-left:0px;
		margin-left:0px;
	}
	.l-workBlock .l-workBlock01 > div a img{
		max-width:486px;
		width:100%;
	}
	.l-workBlock .l-workBlock02{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding-top:0px;
	}
	.l-workBlock .l-workBlock02 > div{
		display:block;
		width:100%;
		text-align:center;
		padding-top:30px;
	}
	.l-workBlock .l-workBlock02 > div.p-left{
		padding-right:0px;
		margin-right:0px;
	}
	.l-workBlock .l-workBlock02 > div.p-right{
		padding-left:0px;
		padding-right:0px;
	}
	.l-workBlock .l-workBlock02 > div a img{
		max-width:486px;
		width:100%;
	}
	
	.l-workplaceBlock{
		background-color:#97dbef;
		margin:0 auto;
		text-align:center;
		padding:30px 0 30px;
	}
	.l-workplaceBlock .p-title{
		padding-top:0px;
	}
	.l-workplaceBlock .p-title img{
		max-width:201px;
		width:100%;
	}
	.l-workplaceBlock .l-inner900 > div{
		display:block;
		width:100%;
		text-align:center;
		padding-top:25px;
	}
	.l-workplaceBlock .l-inner900 > div.p-left{
		padding-right:0px;
	}
	.l-workplaceBlock .l-inner900 > div.p-right{
		padding-left:0px;
	}
	.l-workplaceBlock .l-inner900 > div a img{
		max-width:600px;
		width:100%;
	}
	
	.l-faqBlock{
		margin:0 auto;
		text-align:center;
		padding:30px 0 30px;
	}
	.l-faqBlock .l-inner900 > div{
		display:block;
		width:100%;
		text-align:center;
	}
	.l-faqBlock .l-inner900 > div.p-left{
		padding-right:0px;
		padding-bottom:20px;
	}
	.l-faqBlock .l-inner900 > div.p-right{
		padding-left:0px;
	}
	.l-faqBlock .l-inner900 > div a img{
		max-width:300px;
		width:100%;
	}
	
	.l-entryBlock{
		background:url(../images/top/bg_entry_sp.png) center top no-repeat;
		background-size:cover;
		margin:0 auto;
		text-align:center;
		padding:30px 0 30px;
	}
	.l-entryBlock .l-inner900 > div{
		display:block;
		width:100%;
		text-align:center;
	}
	.l-entryBlock .l-inner900 > div a img{
		max-width:300px;
		width:100%;
	}
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/